.sidebar{

width:270px;

height:100vh;

background:#ffffff;

border-right:1px solid #e5e7eb;

padding:24px 18px;

display:flex;

flex-direction:column;

justify-content:space-between;

flex-shrink:0;

}

.logo-section{

padding:10px 10px 30px;

border-bottom:1px solid #f1f5f9;

margin-bottom:25px;

}

.logo-section h2{

font-size:28px;

font-weight:700;

color:#4f46e5;

margin-bottom:4px;

}

.logo-section p{

font-size:14px;

color:#6b7280;

}

.menu{

display:flex;

flex-direction:column;

gap:8px;

}

.menu-item{

display:flex;

align-items:center;

gap:14px;

padding:14px 16px;

border-radius:14px;

text-decoration:none;

color:#475569;

font-weight:500;

transition:all .25s ease;

}

.menu-item:hover{

background:#f8fafc;

color:#4f46e5;

}

.menu-item.active{

background:#4f46e5;

color:white;

box-shadow:0 8px 20px rgba(79,70,229,.25);

}

.menu-item svg{

font-size:22px;

}

.logout-button{

width:100%;

display:flex;

align-items:center;

justify-content:flex-start;

gap:14px;

padding:14px 16px;

border:none;

border-radius:14px;

background:#ef4444;

color:white;

cursor:pointer;

font-size:15px;

font-weight:600;

transition:.25s;

}

.logout-button:hover{

background:#dc2626;

}