.hospital-layout{

display:flex;

height:100vh;

background:#f6f8fc;

overflow:hidden;

}

.hospital-main{

flex:1;

display:flex;

flex-direction:column;

overflow:hidden;

}

.hospital-content{

flex:1;

padding:30px;

overflow-y:auto;

}